[access]
	inheritFrom = All-Projects
[project]
	description = This repository is for a reference vnf repository\n\nRead-only as per IT-26907
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-vnfsdk-refrepo-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
