.lcmanager{
    padding: 0 50px;
}

.lifecycleHeader{
    font-size: 24px;
    float : left;
    margin-top: 20px
}

.separator-line {
    height: 1px;
    width: 100%;
    border: 1px solid #ddd;
    margin: 65px 0 15px 0;
}

#lcTableAction {
    text-align: left;
}
.lctable th,.table td{
    /* padding-top: 3px!important; */
    padding-bottom: 3px!important;
}
.lctable tr,.lctable td, .lctable th{
    text-align:left;
}
.lctable tbody tr:hover td{
    background-color: #e6fbe0 !important;
}
.lctable thead{
    background: #ECECEC;
}

.form-control {
    height: 26px!important;
}

#lctabArea{
    margin-top:100px;
    text-align: center;
}
#lctabArea .nav-tabs{
    border-bottom: 1px solid #4ac9ff;
}
.nav-tabs>li>a.link_active {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 3px solid #4ac9ff;
    border-bottom: transparent;
}
.nav-tabs>li>a.link_active:hover {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 3px solid #4ac9ff;
    border-bottom: transparent;
}
#lcTableAction {
    text-align: left;
}

.detailinfo, .topo, .inputdata {
    border-right: 1px solid #ddd;
}

#popupModal .modal-dialog {
    width: 1100px;
}
.nopadding{
    padding-left:0px!important;
    padding-right:0px!important;
}
.link_active_DetailInfo {
    font-style: italic;
    color: #4ac9ff !important;
    text-decoration: none !important;
}
#rightContainer {
    text-align: left;
    margin-top: 0px;
    width:82%;
    padding-left: 0px;


}
#rightContainer .headerTitle {
    font-size: 24px;
    display: block;
}
#rightContainer #tpLinkBlock {
    margin-top: 40px;
}
#overlayAction {
    text-align: left;
}

#leftContainer{
    width:18%;
    padding-right: 0px;



}
.nomargin{
    margin:0px !important;
}

#rightContainer .panel-body{
    padding:0px 30px 0px 30px !important;
}

.tabContainer{
    border-left: 1px solid;
    border-color: #ddd;

}

.ng-table-pager .ng-table-counts, .ng-table-pager .pagination {
    margin-top:25px;
}

.mT15 input {
    /*margin-left: 10px;*/
    width: 100%;
    padding: 8px 12px;
    /*background: #f1f1f1;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.pencilimg{
    transform: rotate(-135deg);
    margin-right: 10px;
}

.textAlign, #leftContainer .panel-title{
    text-align: left;
}

/* Table row selection */
.table-striped>tbody>tr.selected-row>td {
    background-color:#e8f8fe;
}

#base, #templateParameters{
    margin-top:25px;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

select {
    padding: 0 !important;
}

#myModal {
    text-align: center;
}
#myModal .modal-content .modal-body .tab-content {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
}

.row-content {
    overflow: hidden;
    margin-bottom: 7px;
}

.delete-icon {
    background: url("../images/delete.png") no-repeat;
    height: 16px;
}