<div id="onBoardingContent">
    <div>
        <h3>{{vm.mainTitle}}</h3>
        <div class="processLabel">{{'module.marketplace.serviceUpload.onBoarding.onBoardProcessTitle' | translate}}</div>
    </div>

    <div class="layout-row onboardProgress">
        <div class="flex-33 progress1">
            <div class="progressDiv"></div>
            <div class="roundProg"><span>1</span></div>
        </div>
        <div class="flex-33 progress2">
            <div class="progressDiv"></div>
            <div class="roundProg"><span>2</span></div>
        </div>
        <div class="flex-33 progress3">
            <div class="progressDiv"></div>
            <div class="roundProg"><span>3</span></div>
        </div>
    </div>
    <div class="layout-row">
        <md-card class="flex-33 bg-grey">
            <div class="onbdContent">
                <div class="onboarddiv">
                    <div class="btnOuter">
                        <div class="onboardBtn btnImage1" type="button" aria-label="Eat cake"  ng-click="vm.displayValidationDialog()">

                        </div>
                    </div>
                </div>
                <div class="listItems md-padding">
                    <div ng-repeat="list in vm.validation.oper">
                        <span class="statusIcon" ng-class="vm.getIconClass(list.status)"></span>
                        <span>{{list.operName}}</span>
                    </div>
                </div>
            </div>
        </md-card>
        <md-card class="flex-33 bg-grey">
            <div class="onbdContent">
                <div class="onboarddiv">
                    <div class="btnOuter">
                        <div class="onboardBtn btnImage2" type="button" aria-label="Eat cake"   ng-click="vm.displayLifecycleDialog()">

                        </div>
                    </div>
                </div>
                <div class="listItems md-padding">
                    <div ng-repeat="list in vm.lifeCycle.oper">
                        <span class="statusIcon" ng-class="vm.getIconClass(list.status)"></span>
                        <span>{{list.operName}}</span>
                    </div>
                </div>
            </div>
        </md-card>
        <md-card class="flex-33 bg-grey">
            <div class="onbdContent">
                <div class="onboarddiv">
                    <div class="btnOuter">
                        <div class="onboardBtn btnImage3" type="button" aria-label="Eat cake"   ng-click="vm.displayFunctionalTestDialog()">

                        </div>
                    </div>
                </div>
                <div class="listItems md-padding">
                    <div ng-repeat="list in vm.functional.oper">
                        <span class="statusIcon" ng-class="vm.getIconClass(list.status)"></span>
                        <span>{{list.operName}}</span>
                    </div>
                </div>
            </div>
        </md-card>
    </div>
</div>