

<!--<h4>Header</h4>-->
<div id="headerArea" class="header" ><!--ng-init="init()"-->
    <!--<label class="titlestyle">Note</label>-->
    <span class="labelHeader">OPEN-O</span>
</div>

<div class="titlestyle">
    Info: This Header is using labelHeader as CSS
</div>
<br>
<div>Use <b>labelHeader</b> class of open-ostye.css for all the message information</div>
<br>
<pre><code>&ltspan class="labelHeader"&gtOPEN-O&lt/span&gt</code></pre>

<br>
<br>

<div class="header" ><!--ng-init="init()"-->
    <span class="labelTitle">OPEN-O</span>
</div>

<div class="titlestyle">
    Info: This Title is using labelTitle as CSS
</div>
<br>
<div>Use <b>labelTitle</b> class of open-ostye.css for all the message information</div>
<br>
<pre><code>&ltspan class="labelTitle"&gtOPEN-O&lt/span&gt</code></pre>
<br>
<br>

<!--<h5>Message</h5>-->
<div id="messageArea" ><!--ng-init="init()"-->
    <span class="message">OPEN-O</span>
</div>
<div class="titlestyle">
    Info: This Message is using titlestyle as CSS
</div>
<br>
<div>Use <b>message</b> class of open-ostye.css for all the message information</div>
<br>
<pre><code>&ltspan class="message"&gtOPEN-O&lt/span&gt</code></pre>
<br>
<br>

<!--<h5>Lables</h5>-->
<div id="labelArea"  ><!--ng-init="init()"-->
    <span class="labelstyle">OPEN-O</span>
</div>
<div class="titlestyle">
    Info: This label is using labelstyle as CSS
</div>
<br>
<div>Use <b>labelstyle</b> class of open-ostye.css for all the message information</div>
<br>
<pre><code>&ltspan class="labelstyle"&gtOPEN-O&lt/span&gt</code></pre>
<br>
<br>

<!--<h5>Note</h5>-->
<div id="noteArea" ><!--ng-init="init()"-->
    <span class="shortnoteText">OPEN-O</span>
</div>
<div class="titlestyle">
    Info: This Note is using shortnoteText as CSS
</div>
<br>
<div>Use <b>shortnoteText</b> class of open-ostye.css for all the message information</div>
<br>
<pre><code>&ltspan class="shortnoteText"&gtOPEN-O&lt/span&gt</code></pre>
<br>
<br>

<!--
<h2>Notes</h2>
<div class="danger">
    <p><strong>Danger!</strong> Some text...</p>
</div>

<div class="success">
    <p><strong>Success!</strong> Some text...</p>
</div>

<div class="info">
    <p><strong>Info!</strong> Some text...</p>
</div>

<div class="warning">
    <p><strong>Warning!</strong> Some text...</p>
</div>
-->

